@tailwind base;
@tailwind components;
@tailwind utilities;

.post-author-img {
  object-fit: cover;
}

@layer components {
  .card {
    @apply bg-white dark:bg-stone-800;
  }
  .input {
    @apply rounded bg-transparent dark:text-white
    border-none outline-stone-700 outline border-transparent
    focus:border-none focus:outline-primaryHover text-sm focus:outline-2 transition-[outline];
  }
  .border,
  .border-b,
  .border-t {
    @apply dark:border-stone-600;
  }

  body {
    @apply bg-gray-50 dark:bg-stone-900 dark:text-white;
  }

  video {
    @apply focus:outline-none focus:border-none rounded h-auto;
  }

  button {
    @apply disabled:opacity-50 disabled:pointer-events-none;
  }
}

.uploading {
  animation: uploading-animate 2s ease-in-out infinite;
}

@keyframes uploading-animate {
  0% {
    left: -40px;
  }
  100% {
    left: 100%;
  }
}
